body {
    /* font-family: 'Fira Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive; */
    font-family: 'Poppins', sans-serif;
    color: rgb(238, 164, 80);
    background-color: #2b2b2b;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 31, 31);
    padding: 0px 50px;
}

header .logo a {
    font-size: 40px;
    font-weight: 700;
    color: rgb(238, 164, 80);
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 16px;
}

header a {
    color: rgb(238, 164, 80);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

header nav a:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(238, 164, 80);
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

main ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

main ul li {
    list-style: none;
    background-color: rgb(235, 204, 165);
    color: #2b2b2b;
    font-size: 16px;
    margin: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

main img {
    width: 370px;
    height: 300px;
    object-fit: cover;
}

.info {
    text-align: center;
}

.info a {
    color: white;
    background-color: rgb(220, 147, 12);
    border-radius: 8px;
    padding: 6px 15px;
}